@{
    ViewData["Title"] = "Cars Catalog";
}


@section Styles{
    <link rel="stylesheet" href="~/css/catalog.css">
}

@section Scripts{
    <script src="~/js/catalog.js"></script>
}


<h1> This will be the catalog!</h1>

<div id="catalogContainer" class="row">



</div>