
@section Styles{
    <link rel="stylesheet" href="~/css/register.css">
}

@section Scripts{
    <script src="~/js/register.js"></script>
}

<h1>Register new car</h1>

<div id="errorAlert" class="alert alert-danger hide">
    fix error below
</div>

<div class="alert alert-success hide">
    <h5>Car saved! </h5>
</div>

<div class="register-form">
    <div class="form-group row">
        <label class="col-4 col-form-label">Daily Price</label>
        <div class="col-8">
            <input id="txtPrice" type="number" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Make</label>
        <div class="col-8">
            <input id="txtMake" type="string" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Model</label>
        <div class="col-8">
            <input id="txtModel" type="string" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Year</label>
        <div class="col-8">
            <input id="txtYear" type="int" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Passenger Capacity</label>
        <div class="col-8">
            <input id="txtCap" type="number" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Mileage</label>
        <div class="col-8">
            <input id="txtMileage" type="number" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Image Url</label>
        <div class="col-8">
            <input id="txtImage" type="string" class="form-control"> 
        </div>
    </div>


    <div class="form-group row">
        <label class="col-4 col-form-label">Horse Power</label>
        <div class="col-8">
            <input id="txtHP" type="number" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Cyls</label>
        <div class="col-8">
            <input id="txtCyls" type="number" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <label class="col-4 col-form-label">Desciption</label>
        <div class="col-8">
            <input id="txtDesc" type="string" class="form-control"> 
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-4 col-8">
            <button id="btnSave" type="button" class="btn btn-primary">Add car</button>
        </div>
    </div>
</div>

